{>layout/}
{<content}
    <input id="subject" class="{error}" type="text" name="name" value="">
    <div class="warning">
        Your Subject ID is not in our records. Please try again.
    </div>
    <div class="instructions">
        Thank you for participating in our music and memory study! As part of this study we need you to become familiar with some music. That’s what this music player is for.

        Your job is to listen to all 8 songs once a day. The songs will be shuffled into a random order. Make sure you pay attention because the music player may ask you to answer a question about the song you just heard.

        For our researchers to get an understanding of how many times you’ve listened to the songs next time you come into the lab, the music player will record how many times you’ve listened to a song. You have to listen to the entire song for it to be recorded.

        If you have any questions, please let the researchers know!
    </div>
{/content}
